	
	.node {cursor: pointer;
	}


	
	.node {cursor: pointer;
	}

	.node circle {
	  fill: black;
	  stroke: white;
	  stroke-width: 1px;
	}

	.node text {
	  font: 10px comic;
	  text-decoration-color: #D3D3D3;
	}

	.link {
	  fill: none;
	  stroke: #ccc;
	  stroke-width: 1px;
	}

	.link2 {
	  fill: none;
	  stroke: #ccc;
	  stroke-width: 1px;
	}

